{% load cms_tags sekizai_tags %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>Pomelo</title>
        {% render_block "css" %}
    </head>
  <body>
      {% cms_toolbar %}

      <header id="header" class="">
		{% block header %}
        <h1>Pomelo</h1>
		<p>Hello </p>
		<p>My Account</p>
			<ul>
				<li> <a href="#">THE COMPANY</a> </li>
				<li> <a href="#">OUR PRODUCT</a> </li>
				<li> <a href="#">OUR BRANDS</a> </li>
				<li> <a href="#">CALENDAR</a> </li>
				<li> <a href="#">WISHLIST</a> </li>
			</ul>
        	<div class="center">
		<ul>
			<li> <a href="#">MY GIFT STORY</a> </li>
			<li> <a href="#">SEND A GIFT</a> </li>
			<li> <a href="#">REDEEM A GIFT</a> </li>
		</ul>
	</div>
		{% endblock header %}
	  </header><!-- /header -->

      {% placeholder base_content %}
      {% block base_content %}{% endblock %}
      {% render_block "js" %}
  </body>
</html>
