{% extends "standard.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load i18n %}
{% load widget_tweaks %}


{% block container %}
    <div class="col-md-4"> 
    {% if form.errors %}
	    <div class="alert alert-danger">
		    <button class="close" data-dismiss="alert" type="button">x</button>
		    <strong>{% trans "Username or password incorrect." %}</strong>
	    </div>
    {%endif%} 

    <form class="login" method="post">
        {% csrf_token %}
        <div>&nbsp;</div>
        <div {% if form.errors.username %}class="input-group margin-bottom-20 has-error"{%else%}class="input-group margin-bottom-20"{%endif%}>
            <span class="input-group-addon"><i class="icon-user"></i></span>
            {{form.username | attr:"class:form-control"}}
        </div>
        <div {% if form.errors.password %}class="input-group margin-bottom-20 has-error"{%else%}class="input-group margin-bottom-20"{%endif%}>
            <span class="input-group-addon"><i class="icon-lock"></i></span>
            {{form.password | attr:"class:form-control"}}
        </div>
        <input class="btn-u" type="submit" value={% trans "Login" %} />    
    </form>
    <div>&nbsp;</div> 
    <a href="/register">{% trans "Register" %}</a><br/>
    <a href="/accounts/password_reset">{% trans "Forgot your password?" %}</a> 
    </div>   
{% endblock container%}

